body {
  background: rgba(156, 97, 97, 0.918);
}
img {
  max-width: 50%;
  max-height: 50%;
}
.header {
  color: rgb(184, 172, 172);
  margin: 0 auto;
  font-family: "Sansita Swashed", cursive;
}
.boarder {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.row {
  display: flex;
  flex-direction: row;
}
.section {
  width: 50%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
  justify-content: space-between;
}
